<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
<p>
    Splurty was built by <a target="_blank" href="https://qa.linkedin.com/in/kahashem">Khalid Hashem</a>. A web developers who is on a mission to build innovative products, that will solve problems, and bridge customers into the future.
  </p>
  <br />
  <p>
    Khalid has had a love for innovation and business since a young age and is committed to make his ideas, passions, and hardwork a reality. Splurty is just the begining!
  </p>
  <p>
    If you would like to meet Khalid you can contact him  <a target="_blank" href="https://qa.linkedin.com/in/kahashem"> here</a>.
  </p>

  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'kal.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Khalid Hashem</h2>
    <br />
    <p>
      Khalid Hashem is the General Manager of his family business in Doha, Qatar. He manages well over 100 employees and has a degree in International Business from the California State University of Fresno. He is also an avid student of web development, and aspires to create his tech related ambitions a reality. 
  </div>
<br class="clear"/>
<br />
<br />

</div>